<h1>Products</h1>
<p><%= link_to "New Product", new_product_path %></p>
<% @products.each do |product| %>
<h3><%= product.name %></h3>
<p>Price: $<%= product.formatted_price %> | <%= link_to "Product Description", product_path(product.id) %></p>
<% end %>
